
body {
  background-color: floralwhite
}

h1 {
  font-weight: bold;
  color:gray;
}

h3 { 
  color:gray;
}

h4 {
  color:gray;
}

ol, p {
  color: darkgray;
}

.kanku1 {
  width: 150px;
  float: right;
  border:solid gray 3px;
  border-radius: 30%
}

.kanku2 {
  width: 110px;
  height: 150px;
  border: solid gray 3px;
  border-radius: 25%
}
